div {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	color: #000;
}

.quadro_principal {
	width: 300px;
	height: auto;
	box-shadow: 10px 10px 0.5px #e0e0e0;
}

.imagem {
	object-fit: cover;
	object-position: top;
	width: 300px;
	height: 200px;
	padding-bottom: 10px;
}

.italico {
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bold {
	font-weight: bold;
}